@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
body{
    background: #572F6B;
    margin: 0;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    text-align: center;
    margin-top: 10%;
    color: #f5e0ff;
    
}

.all-questions {
    margin: 5px;
    width: 600px;
    background-color: #D9B0EE;
    color: #432054;
    border-radius: 2px;
}

.question {
    margin: 15px;
    padding: 0;
    font-family: 'Nova Round', cursive;
    text-align: center;
}

.answer {
    margin: 5px 8px;
    padding: 3px 10px;
    background-color: #c179e6;
    color: #432054;
    border-radius: 4px;
    display: none;
}

.questions-section:hover{
    cursor: pointer;
}

.questions-section.active .answer {
    display: block;
}
